html {
    background-image: url("./images/wood-591631_1920.jpg");
}

body{
    max-width: 66%;
    margin: 0 auto;
    padding: 10px 85px;
    min-height: 100vh;
    background-color: rgb(220, 248, 220, .85);
}

img{
    width:100%;
    height: auto;
}

a{
   text-decoration: none; 
   color: green;
}

.recipe-menu a {
    font-weight: bold;
}

h1, h2, h3, h4, h5, h6, .recipe-menu{
    font-family: 'Alegreya Sans SC', sans-serif;
}
/* h3, h4, h5, h6 {
    color: green;
} */
h1{
    font-size: 50px;
}
h2{
    font-size: 40px;
}
h3{
    font-size: 30px;
}

.recipe-menu{
    padding: 0;
    border: 5px solid green;
    text-align: center;
    list-style-type: none;
    margin: auto;
}

.recipe-menu li{
    margin: 8px;
    display: inline-block;
    font-size: 20px;
}

.content{
    font-family: 'Assistant', sans-serif;
    font-size: 20px;
}